<%= turbo_stream.prepend "tasks-body" do %>
  <%= render "dashboard/task_row",
      task: @task,
      active_view: @active_view,
      employees: @employees,
      managers: @managers,
      current_user: @current_user %>
<% end %>

<%= turbo_stream.replace "task-form" do %>
  <%= render "tasks/form",
      task: Task.new,
      employees: (@active_view == "manager" && @active_manager ? @employees.where(manager_id: @active_manager.id) : @employees),
      managers: @managers,
      active_view: @active_view %>
<% end %>

<%= turbo_stream.replace "task-msg" do %>
  <div class="text-green-700 font-semibold">
    Task created successfully!
  </div>
<% end %>