<h1>Employee Dashboard</h1>

<p>Welcome, <%= @employee.name %></p>

<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody id="employee-task-table">
  <% @tasks.each do |task| %>
    <%= turbo_frame_tag "task_#{task.id}" do %>
      <tr>
        <td><%= task.title || "-" %></td>
        <td><%= task.description || "-" %></td>
        <td>
          <%= form_with model: task, url: task_path(task), method: :patch, data: { turbo_frame: "task_#{task.id}" } do |f| %>
            <%= f.select :status, Task.statuses.keys.map { |s| [s.humanize, s] }, selected: task.status %>
            <%= f.submit "Update" %>
          <% end %>
        </td>
        <td><%= task.due_date || "-" %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>

</table>
<turbo-frame id="task-msg">
 
</turbo-frame>

<%= turbo_stream_from "task_stats" %>
<%= turbo_stream_from "tasks_table" %>
